.dropdown-menu {
    background: grey;
    width: 200px;
    top: 140px;
    list-style: none;
    text-align: start;
    z-index: 100;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    margin: 0;
}

.dropdown-menu li {
    background: grey;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
    background: rgb(68, 68, 68);
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px;
    border-radius: 0.25rem;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}


@media screen and (max-width: 960px) {
    .dropdown-menu {
        position: static;
    }
}

@media screen and (min-width: 961px) {
    .dropdown-menu {
        position: absolute;
    }
}