.card {
    text-align: center;
    display: inline-block;
    background-color: rgb(55, 151, 163);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: auto;
}