.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Make the container full height of the viewport */
}

.choices-container {
    display: flex;
    gap: 20px;
}

.choice-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.choice-label:hover {
    background-color: #f0f0f0;
}

.choice-label.selected {
    background-color: #4caf50;
    /* Add a different background color for the selected choice */
    color: #fff;
    /* Change text color for selected choice */
}